.container .left-section.slider {
  width: 50%;
  height: 70%;
  background-color: #6a50d1;
}

.img-fluid {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.item-image {
  width: 350px;
  height: 400px;
  margin: 0rem auto;
  margin-top: 5rem;
}

.item-image.world {
  width: 500px;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.item-title {
  text-align: center;
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: #fff;
}
