@import url(fonts.css);
body {
  font-family: iranyekan !important;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
span,
textarea {
  font-family: iranyekan !important;
}
h1 {
  font-weight: bold;
}

.input-wrapper.success input {
  border-color: #09c372;
}

.input-wrapper.error input {
  border-color: #ff3860;
}

.input-wrapper .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
  position: absolute;
  bottom: -7px;
  right: 0;
}
